{% extends 'base.html' %}

{% block title %}
<h1 align="center">La máquina del tiempo</h1>
<h2 align="center">Nuestra maquina del tiempo te permitirá conocer las mejores películas desarrolladas a travéz del tiempo, sin duda el mejor entretenimiento para ti!!!</h2>

<h4 align="center">Deseamos que tengas unas de las mejores experiencias de entretenimiento del Mundo!!!</h4>
<h5 align="center">A continuacion te presentamos un resumen de las mejores peliculas de las siguientes categorias:</h5>
<h5 align="center">Estos son las mejores Películas Top 5 Estrellas!!!</h5>

{% endblock %}

{% block content %}

<!DOCTYPE html>
<meta charset="utf-8">
<style>
    html, body, #D3Plus_RingNetwork {
        height: 100%;
        min-height: 100%;
        width: 100%;
        min-width: 100%;
    }
</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.theme.min.css">
<link rel="stylesheet" href="https://dexjs.net/js/dex-jquery.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css"/>
<link rel="stylesheet" href="https://dexjs.net/js/dex-bootstrap.css">
<link rel="stylesheet" href="https://dexjs.net/js/dex.css">

<body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://dexjs.net/js/dex-jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://dexjs.net/js/dex-bootstrap.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script src="https://dexjs.net/js/dex-libs.js"></script>
<script src="https://dexjs.net/js/dex.js"></script><script>d3 = dex.charts.d3.d3v3;</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3plus/1.9.8/d3plus.min.js"></script>
<body>
<div id="D3Plus_RingNetwork"></div>
<script>
  var csv = new dex.csv({
    'header': ["Restaurants", "City", "Category", "Stars"],
    'data': [
     ["Bridgeport Cafe", "Cleveland", "Cafes", "1506"],
 			["Cinema Moderne", "Alexander", "louvre", "130ac"],
      ["Pilot Coffee Roasters","Toronto","Cafes","5.0"],
      ["Foodbenders","Toronto","Cafes","5.0"],
      ["Bridgeport Cafe","Cleveland","Cafes","5.0"],
      ["The Dock On Queen","Toronto","Cafes","5.0"],
      ["AZ Metro Cafe","Phoenix","Cafes","5.0"],
      ["Zenaida's Cafe","Las Vegas","Cafes","5.0"],
      ["Marjo Bakery","Toronto","Cafes","5.0"],
      ["Play Grounds","Lakewood","Cafes","5.0"],
      ["BrewLab Coffee","Champaign","Cafes","5.0"],
      ["CafÃƒÂ© Thomas","MontrÃƒÂ©al","Cafes","5.0"],["Pains et saveurs","Saint-Hubert","Cafes","5.0"],
["Ava's Cafe","Rock Hill","Cafes","5.0"],
["Cafe 17","Cleveland","Cafes","5.0"],
["Sugar Jam Cookies","Phoenix","Cafes","5.0"],
["Tabu Coffee Company","Cleveland","Cafes","5.0"],
["Karen's Kreamery CafÃƒÂ©","El Mirage","Cafes","5.0"],
["Analog Coffee","Calgary","Cafes","5.0"],
["Madeleine Bakery And Bistro","Wilkinsburg","Cafes","5.0"],
["Pilot Coffee Roasters","Toronto","Cafes","5.0"],
["Foodbenders","Toronto","Cafes","5.0"],
["Bridgeport Cafe","Cleveland","Cafes","5.0"],
["The Dock On Queen","Toronto","Cafes","5.0"],
["AZ Metro Cafe","Phoenix","Cafes","5.0"],
["Zenaida's Cafe","Las Vegas","Cafes","5.0"],
["Marjo Bakery","Toronto","Cafes","5.0"],
["Play Grounds","Lakewood","Cafes","5.0"],
["BrewLab Coffee","Champaign","Cafes","5.0"],
["Courtside Cafe","Las Vegas","Cafes","5.0"],
["Baretto Caffe","Toronto","Cafes","5.0"],
["Horizons Lounge","Toronto","Cafes","5.0"],
["Renewal Coffee Shop","Mckees Rocks","Cafes","5.0"],
["High 5 Cafe & Curated Convenience","Toronto","Cafes","5.0"],
["Maranello Cafe","Mississauga","Cafes","5.0"],
["Toffee Cafe","Toronto","Cafes","5.0"],
["Star Ice Cream","Toronto","Cafes","5.0"],
["Jewel's Cupcakes","Phoenix","Cafes","5.0"],
["French Express","Kannapolis","Cafes","5.0"],
["Tacos Culichi","Phoenix","Tacos","5.0"],
["Madras Cafe","Calgary","Vegetarian","5.0"],
["Round The Corner Carry Out","Gibsonia","Pizza","5.0"],
["Queen Tacos","Las Vegas","Tacos","5.0"],
["Della Sala's Pizza","Verona","Pizza","5.0"],
["MOD Pizza","Tempe","Pizza","5.0"],
["Gilly's Donuts","Cleveland","Donuts","5.0"],
["Kiss Pollos Estilo Sinaloa","Phoenix","Tacos","5.0"],
["Papa Murphy's","Cornelius","Pizza","5.0"],
["Hinckley Coffee & Donuts","Hinckley","Donuts","5.0"],
["Sin Citys Taco China","Las Vegas","Tacos","5.0"],
["T--o T--e","Concord","Tacos","5.0"],
["Taco's el Rancho","Phoenix","Tacos","5.0"],
["Eddy's Tacos Y Mas","Phoenix","Tacos","5.0"],
["Ari's Pizza","Charlotte","Pizza","5.0"],
["Jessy's Pizza Toronto","Toronto","Pizza","5.0"],
["Casa De Falafel","Peoria","Vegetarian","5.0"],
["Operation Donuts","Las Vegas","Donuts","5.0"],
["Pizza Papa Gerald","Les Coteaux","Pizza","5.0"],
["Columbo Room","Cleveland","Seafood","5.0"],
["Myke's Pizza","Mesa","Pizza","5.0"],
["Union Pie Co","Pittsburgh","Pizza","5.0"],
["Restaurante Guadalajara","Las Vegas","Vegetarian","5.0"],
["Caputos Friendly Inn","Pitcairn","Pizza","5.0"],
["Sicily Pizza","Toronto","Pizza","5.0"],
["Tim Hortons","Toronto","Donuts","5.0"],
["Novel Ice Cream","Phoenix","Donuts","5.0"],
["Kwench Juice Cafe Phoenix","Phoenix","Vegetarian","5.0"],
["Congin's Pizza","Chardon","Pizza","5.0"],
["Cakes On the Move","Henderson","Bakeries","5.0"],
["Nancy B's Bakery","West Homestead","Bakeries","5.0"],
["Golden Bakeshop","Toronto","Bakeries","5.0"],
["Steeles Bakery","North York","Bakeries","5.0"],
["Suzin L Chocolatier","Elyria","CandyStores","5.0"],
["Kulinar's Carryout & Catering","Eastlake","Desserts","5.0"],
["Jewell Treats","Charlotte","Desserts","5.0"],
["Farm Basket","Las Vegas","FastFood","5.0"],
["AZ Cake Shoppe","Cave Creek","Bakeries","5.0"],
["Pains et saveurs","Saint-Hubert","Cafes","5.0"],
["Bagel De L'ouest","Dollard-Des-Ormeaux","Bagels","5.0"],
["Vinovios Gourmet Cheesecakes","Chandler","Desserts","5.0"],
["Windsor Breads Bakery & Coffeehouse","Windsor","Bakeries","5.0"],
["Smart Cookie","Phoenix","Desserts","5.0"],
["Ava's Cafe","Rock Hill","Cafes","5.0"],
["Havre-aux-Glaces","MontrÃƒÂ©al","Desserts","5.0"],
["McMahon's Ice Cream","Chandler","Desserts","5.0"],
["Cinema Moderne","MontrÃƒÂ©al","Cafes","5.0"],
["Flowers Craft Beer & Wine","Phoenix","Beer","5.0"],
["Brooklin Bakery","Brooklin","Bakeries","5.0"],
["Mertie's Hungarian Strudel Shop","Cleveland","Bakeries","5.0"],
["Cafe 17","Cleveland","Cafes","5.0"],
["El Kiosco Mexican Snacks","Phoenix","Desserts","5.0"],
["Bouffe Dave Plant Food","MontrÃƒÂ©al","Bakeries","5.0"],
["Lowenkind Bakery","Las Vegas","Bakeries","5.0"],
["Dispensa","MontrÃƒÂ©al","Bakeries","5.0"],
["Gitta's Table And Wine Shop","Avon Lake","Beer","5.0"],
["Aloha Cakes AZ","Scottsdale","Cupcakes","5.0"],
["Sugar Jam Cookies","Phoenix","Cafes","5.0"],
["Minerva Bakery","McKeesport","Desserts","5.0"],
["Oroweat Baking Company","Phoenix","Bakeries","5.0"],
["Cerise Sur Le Gateau","MontrÃƒÂ©al","Desserts","5.0"],
["Tabu Coffee Company","Cleveland","Cafes","5.0"],
["Positively Frosted","Scottsdale","Cupcakes","5.0"],
["Coyote Oaties","Glendale","Desserts","5.0"],
["Purdy Sweet","Belmont","Bakeries","5.0"],
["A Tasty Affair","Cleveland","Bakeries","5.0"],
["Applelicious","Carnegie","Chocolatiers&Shops","5.0"],
["Lale Bakery & Caffe","Toronto","Bakeries","5.0"],
["The Art Of Baking","Charlotte","Desserts","5.0"],
["Analog Coffee","Calgary","Cafes","5.0"],
["Patisserie Saint Honore","Toronto","Bakeries","5.0"],
["Madeleine Bakery And Bistro","Wilkinsburg","Cafes","5.0"],
["RubySnap Fresh Cookies","Las Vegas","Desserts","5.0"],
["Lindt Chocolate Shop - Calgary","Calgary","CandyStores","5.0"],
["Kernels by Chrissie","Cleveland","CandyStores","5.0"],
["Fort Pitt Candy Co","Pittsburgh","CandyStores","5.0"],
["Elegant Cake Creations","Phoenix","Bakeries","5.0"],
["Boulangerie De L'ile Bizard","L'ile-Bizard","Bakeries","5.0"],
["Sweet Philosophy","Mississauga","Desserts","5.0"],
["Pilot Coffee Roasters","Toronto","Cafes","5.0"],
["Maryam's Cakery","Surprise","Cupcakes","5.0"],
["Chocolats Favoris","Terrebonne","Chocolatiers&Shops","5.0"],
["Apple Cookie & Chocolate Company","Turtle Creek","Chocolatiers&Shops","5.0"],
["Pie Me Over","Las Vegas","Desserts","5.0"],
["Las Vegas Fruits & Nuts","Las Vegas","Chocolatiers&Shops","5.0"],
["The Great Gadsby Bakery","Gilbert","Bakeries","5.0"],
["Chez Ana","MontrÃƒÂ©al","Bakeries","5.0"],
["Foodbenders","Toronto","Cafes","5.0"],
["Cheesecake Etc","Charlotte","Bakeries","5.0"],
["Patisserie de Gascogne","Pointe-Claire","Bakeries","5.0"],
["The Cupcake Couple","Glendale","Cupcakes","5.0"],
["Mitchell's Homemade Ice Cream - Westlake","Westlake","Desserts","5.0"],
["Longo's Gourmet Coffee & Ice Cream","Wexford","Desserts","5.0"],
["Pittsburgh Pie Guy","Pittsburgh","Bakeries","5.0"],
["Pattie World Bakery","Etobicoke","Bakeries","5.0"],
["Pop the Top Craft Beer Shop","Charlotte","Beer","5.0"],
["Kentucky Fried Chicken & Taco Bell","Calgary","FastFood","5.0"],
["Classy Cupcakes By Tiffany","Phoenix","Cupcakes","5.0"],
["Bridgeport Cafe","Cleveland","Cafes","5.0"],
["The Brownie Connection","Gilbert","Desserts","5.0"],
["The Dock On Queen","Toronto","Cafes","5.0"],
["AZ Metro Cafe","Phoenix","Cafes","5.0"],
["Big Cannoli Lane","Woodbridge","Bakeries","5.0"],
["Karen's Krystal Brittles","Henderson","CandyStores","5.0"],
["Cakes By Cupcake","Mesa","Cupcakes","5.0"],
["Aishwarya Garden","Brampton","EthnicFood","5.0"],
["Emmagination Cupcakes","MontrÃƒÂ©al","Bakeries","5.0"],
["Great Harvest Bread Company","Mentor","Bakeries","5.0"],
["Zenaida's Cafe","Las Vegas","Cafes","5.0"],
["The Coffee Market","Calgary","Bakeries","5.0"],
["My Brothers Bagel","Denver","Bagels","5.0"],
["Bagel Buddy's","Euclid","Bagels","5.0"],
["FRIO Creamery","Pittsburgh","Desserts","5.0"],
["Pink House Chocolates","Finleyville","CandyStores","5.0"],
["Miss Choco","MontrÃƒÂ©al","Chocolatiers&Shops","5.0"],
["The Loaded Cupcake","Phoenix","Desserts","5.0"],
["Marjo Bakery","Toronto","Cafes","5.0"],
["Because Baked Goods","Scottsdale","Cupcakes","5.0"],
["Play Grounds","Lakewood","Cafes","5.0"],
["Pascal's Patisserie - Take & Bake French Pastries","Calgary","Desserts","5.0"],
["The Madison Deli","Phoenix","Bagels","5.0"],
["Micha","Toronto","FastFood","5.0"],
["Victoria's Fudge-a-licious","Venetia","CandyStores","5.0"],
["Baker Candies Inc","Cleveland","CandyStores","5.0"],
["BrewLab Coffee","Champaign","Cafes","5.0"],
["Cafe Central","MontrÃƒÂ©al","Cafes","5.0"],
["Mainely Cupcakes","Indian Trail","Cupcakes","5.0"],
["Chez Apo","MontrÃƒÂ©al","Bakeries","5.0"],
["Tropical Sno","Glendale","Desserts","5.0"],
["Courtside Cafe","Las Vegas","Cafes","5.0"],
["Chocolate Surprise","Surprise","Chocolatiers&Shops","5.0"],
["Paula Jacqueline Cakes & Pastries","Scottsdale","Cupcakes","5.0"],
["Gratifying Grains","Chandler","Desserts","5.0"],
["Baretto Caffe","Toronto","Cafes","5.0"],
["Big Cupcake Truck","Phoenix","Cupcakes","5.0"],
["Peace Cream","Phoenix","Desserts","5.0"],
["Red Apron Bakeshop","Tempe","Cupcakes","5.0"],
["Muze Coffee House","Calgary","Bakeries","5.0"],
["Bitter Sweet Cake Boutique","Glendale","Bakeries","5.0"],
["Kin Kin Bakery & Bubble Tea","Brampton","Bakeries","5.0"],
["Funnel Cake Creations","Henderson","Desserts","5.0"],
["Bagelmania","Laval","Bagels","5.0"],
["Horizons Lounge","Toronto","Cafes","5.0"],
["Boulangerie Lahmajoun Sevan","Laval","Bakeries","5.0"],
["Burger King","Berea","Burgers","5.0"],
["Renewal Coffee Shop","Mckees Rocks","Cafes","5.0"],
["Humble Pie","Avon Lake","Desserts","5.0"],
["High 5 Cafe & Curated Convenience","Toronto","Cafes","5.0"],
["Baked Chemistry","Surprise","Bakeries","5.0"],
["Christine Cs Shortbread","Toronto","Bakeries","5.0"],
["Maranello Cafe","Mississauga","Cafes","5.0"],
["Antney's","Pittsburgh","Desserts","5.0"],
["Slices Fabulous Pastries","Cleveland","Bakeries","5.0"],
["Pacini","Saint-Eustache","Desserts","5.0"],
["Phoenix Cake Company","Gilbert","Bakeries","5.0"],
["Toffee Cafe","Toronto","Cafes","5.0"],
["Hot Rods Cafe","Charlotte","Burgers","5.0"],
["Crawford's Village Bakery","Brampton","Bakeries","5.0"],
["Millie's Bakehouse","Tega Cay","Cupcakes","5.0"],
["Stick to Your Buns","Westlake","Cupcakes","5.0"],
["Farkas Pastry Shop","Cleveland","Bakeries","5.0"],
["Gartman Model Bakery","Painesville","Bakeries","5.0"],
["Take The Cake","Las Vegas","Bakeries","5.0"],
["Star Ice Cream","Toronto","Cafes","5.0"],
["Cob's Bread","Toronto","Bakeries","5.0"],
["Pies by Inge","Monticello","Cupcakes","5.0"],
["A519 Chocolate","Pittsburgh","Chocolatiers&Shops","5.0"],
["COBS Bread","Vaughan","Bakeries","5.0"],
["Sweet Life Gluten Free Bakery","Avondale","Bakeries","5.0"],
["Woobie's Cookies","Glendale","Bakeries","5.0"],
["Lucy's Sweet Surrender","Cleveland","Bakeries","5.0"],
["Fury's Kitchen","Henderson","Bakeries","5.0"],
["Sweet Flour Bake Shop","Toronto","Desserts","5.0"],
["Le Panivore","MontrÃƒÂ©al","Bakeries","5.0"],
["Jewel's Cupcakes","Phoenix","Cafes","5.0"],
["Spice Affair","Calgary","Buffets","5.0"],
["Cobs Bread","Toronto","Bakeries","5.0"],
["Das Brezel Haus","Brampton","Bakeries","5.0"],
["Edible Arrangements","Champaign","Chocolatiers&Shops","5.0"],
["Kim's Oriental Food","Cleveland","EthnicFood","5.0"],
["Dough Re Mi Donuts","Harrisburg","Cupcakes","5.0"],
["Cotton Candy Factory","Belmont","CandyStores","5.0"],
["Boulangerie Au Pain Dore Ltee","MontrÃƒÂ©al","Cafes","5.0"],
["Menchie's Frozen Yogurt","Chandler","Desserts","5.0"],
["ROYCE' Las Vegas at The Grand Canal Shoppes","Las Vegas","CandyStores","5.0"],
["Chocolate 76","Cleveland","CandyStores","5.0"],
["Fairytale Brownies","Chandler","Desserts","5.0"],
["DJ's Diner","Monroe","Burgers","5.0"],
["A&W","Calgary","Burgers","5.0"],
["Sweet Surprises","Richmond Heights","Bakeries","5.0"],
["Five Points Artisan Bakeshop","Pittsburgh","Bakeries","5.0"],
["What A Bagel","Ajax","Bakeries","5.0"],
["French Express","Kannapolis","Cafes","5.0"],
["Sweet Designs Chocolatier","Lakewood","Chocolatiers&Shops","5.0"],
["Sullivan & Bleeker Baking","Toronto","Desserts","5.0"],
["Kathy's Kolacke Shop","Westlake","Bakeries","5.0"],
["Loftea","Toronto","Cafes","5.0"],
["Bent Bean","Urbana","CandyStores","5.0"],
["Sweet It Is!","Charlotte","Cupcakes","5.0"],
["Twirl Cotton Candy","Las Vegas","CandyStores","5.0"],
["Patricia's Cake Creations","Toronto","Cafes","5.0"],
["Sunset Restaurant and Grill","Pittsburgh","EthnicFood","5.0"],
["Mulino Pastry European Pastry","Westlake","Bakeries","5.0"],
["Sweet Relief Pastries","Calgary","Bakeries","5.0"],
["The Butternut Baking","Toronto","Bakeries","5.0"],
["The Baked Equation","Phoenix","Cupcakes","5.0"],
["Purdys Chocolatier","Mississauga","Chocolatiers&Shops","5.0"],
["Caffe Napoletana","MontrÃƒÂ©al","Cafes","5.0"],
["Joyah's Cooking Class","Henderson","EthnicFood","5.0"],
["Sweet Addictions Candy","Toronto","CandyStores","5.0"],
["Tank Goodness","Madison","Bakeries","5.0"],
["The Sugar Cookie","Las Vegas","Desserts","5.0"],
["Iced for Life","Chandler","Cupcakes","5.0"],
["Floriberto's Mexican Food","Avondale","FastFood","5.0"],
["Doner Kebab Chef RD","Phoenix","EthnicFood","5.0"],
["Dukes Bread","Charlotte","Bakeries","5.0"],
["Sweet Spot Candy Shop","Las Vegas","CandyStores","5.0"],
["The Fudgery","Charlotte","Desserts","5.0"],
["Cupsie Daisy","Kent","Cupcakes","5.0"],
["Sugar Rush Bakery","Las Vegas","Bakeries","5.0"],
["Stella Blu Cafe","Madison","Bakeries","5.0"],
["Espresso Bison","MontrÃƒÂ©al","Cafes","5.0"],
["Sin City Suckers","Las Vegas","CandyStores","5.0"],
["The Shire Cafe","Tempe","Cafes","5.0"],
["Hatch","Markham","Cafes","5.0"],
["The Bread Essentials","Toronto","Bakeries","5.0"],
["Naraine's Bakery","Scarborough","Bakeries","5.0"],
["Twelve Cakes Bakery","Phoenix","Cupcakes","5.0"],
["Sweet Fairy Brigadeiros","Las vegas","Cupcakes","5.0"],
["Dessert First","Las Vegas","Chocolatiers&Shops","5.0"],
["Tiers of Joy","Henderson","Bakeries","5.0"],
["Sugar Buzz Cakes","Tempe","Desserts","5.0"],
["The Cupcake Queen","Waxhaw","Cupcakes","5.0"],
["Butter Block & Co","Calgary","Bakeries","5.0"],
["Fort Pitt Coffee","Pittsburgh","Cupcakes","5.0"],
["Kindred Spirits","Youngtown","Cafes","5.0"],
["Cannoli Queens","Vaughan","Bakeries","5.0"],
["Five Guys","Mentor","Burgers","5.0"],
["Senza Gluten Free Bakery","Las Vegas","Bakeries","5.0"],
["Transylvania Bakery Shop","Cleveland","Bakeries","5.0"],
["S&D Cafe","Pittsburgh","Cafes","5.0"],
["Baker's Bakery","Cleveland","Bakeries","5.0"],
["FunnyCakez","Las Vegas","Chocolatiers&Shops","5.0"],
["The Bake Shop in Ghent","Akron","Bakeries","5.0"],
["Berries and Flour","Champaign","Desserts","5.0"],
["Purple Elephant Cakes","Litchfield Park","Desserts","5.0"],
["Rick's Cafe","Toronto","Cafes","5.0"],
["Ambrosia Bakery","Laval","Bakeries","5.0"],
["My Goodies","Surprise","Cupcakes","5.0"],
["Ghenchie's Coffee and Ice Cream","Gastonia","Cafes","5.0"],
["New York Bagel N Bakery","Las Vegas","Bagels","5.0"],
["Fresh Cup Bubble Tea","Toronto","Desserts","5.0"],
["Ilios Foods","MontrÃƒÂ©al","Bakeries","5.0"],
["Uncle Matteo's","Phoenix","Chocolatiers&Shops","5.0"],
["Bun King Bakery","Scarborough","Bakeries","5.0"],
["Rubens Chocolate","Urbana","Chocolatiers&Shops","5.0"],
["East & West Cafe","Scottsdale","Cafes","5.0"],
["Cacao 70 Dip Shop","MontrÃƒÂ©al","Chocolatiers&Shops","5.0"],
["Croissant Croissant","MontrÃƒÂ©al","Cafes","5.0"],
["Clarke","MontrÃƒÂ©al","Cafes","5.0"],
["Patisserie & Boulangerie Clarke","MontrÃƒÂ©al","Bakeries","5.0"],
["Boulangerie Les Co'Pains d'Abord","MontrÃƒÂ©al","Bakeries","5.0"],
["Rose's Dipped Delights","Las Vegas","Chocolatiers&Shops","5.0"],
["Chez Bonbons Comme Autrefois","La Prairie","Bakeries","5.0"],
["The City Creamery","Cave Creek","Desserts","5.0"],
["Ninni's Bakery","Akron","Bakeries","5.0"],
["Sidewalk Citizen Bakery","Calgary","Bakeries","5.0"],
["Chocolate by Wickerhead","Toronto","Chocolatiers&Shops","5.0"],
["Vintage Soda Co","Airdrie","CandyStores","5.0"],
["Frost N' Roll","Las Vegas","Desserts","5.0"],
["Safe House","MontrÃƒÂ©al","CocktailBars","5.0"],
["Pink Bandana Bakery","Mentor","Bakeries","5.0"],
["Pronto Cafe","Concord","Cafes","5.0"],
["CobblerWorld","Pittsburgh","Desserts","5.0"],
["The Sweet Fix Bakery","Cleveland Heights","Bakeries","5.0"],
["Octave","MontrÃƒÂ©al","Desserts","5.0"],
["Charlotte's Homemade Goodies","Mississauga","Bakeries","5.0"],
["Pan Y Pane Bakery","Guadalupe","Bakeries","5.0"],
["Bretzel & Compagnie","MontrÃƒÂ©al","Bakeries","5.0"],
["Cafe Cultivate","Phoenix","Cafes","5.0"],
["Tommy's Pastries","Lakewood","Bakeries","5.0"],
["For Goodness Cakes","Mississauga","Bakeries","5.0"],
["Jimmy's Coffee","Toronto","Cafes","5.0"],
["The Cake & Cookie Spot","Pittsburgh","Desserts","5.0"],
["Chocobel","MontrÃƒÂ©al","Chocolatiers&Shops","5.0"],
["Mugshots Coffee and Tea","Belmont","Cafes","5.0"],
["Ferroni's Allegro Cafe & Bistro","Middlefield","Cafes","5.0"],
["Karen Biscotti","Phoenix","EthnicFood","5.0"],
["Cakes by Cheryl","Canonsburg","Bakeries","5.0"],
["Dessert Cafe Momo","MontrÃƒÂ©al","Desserts","5.0"],
["Piece of Cake Desserts","Mesa","Cupcakes","5.0"],
["Shangri-La Palace","Calgary","Buffets","5.0"],
["Cool Cakes and Pastries","Mississauga","Desserts","5.0"],
["Zeal Burgers","Toronto","Burgers","5.0"],
["Sherrye's Kitchen","Phoenix","Desserts","5.0"],
["Dairy Queen","Calgary","FastFood","5.0"],
["Golden Goodness Baked Goods","Mesa","Desserts","5.0"],
["JJ Bean","Toronto","Cafes","5.0"],
["Futura Granita + Gelato","Toronto","Desserts","5.0"],
["Yummis","Richmond Hill","Burgers","5.0"],
["Entenmann's Oroweat","Tempe","Bakeries","5.0"],
["The Brilliant Bagel","Scottsdale","Bagels","5.0"],
["Cafe Fresco","Calgary","Cafes","5.0"],
["John Anthoney's Italian Bread Company","Scottsdale","Bakeries","5.0"],
["Wallace Espresso","Toronto","Cafes","5.0"],
["Trinity Square Cafe","Toronto","Cafes","5.0"],
["Cardinal Press","Newmarket","Cafes","5.0"],
["Mallo","Toronto","Cafes","5.0"],
["Frankly Good Coffee","Boulder City","Cafes","5.0"],
["Dukes Bread","Charlotte","Bakeries","5.0"],
["Chatter","Toronto","Cafes","5.0"],
["Malley's Chocolates","Aurora","CandyStores","5.0"],
["Vandough's Cookies","Charlotte","Desserts","5.0"],
["Nova Grill & Bakery","Brampton","Bakeries","5.0"],
["Avalon Meat Candy","Las Vegas","CandyStores","5.0"],
["Crazy Mocha","Pittsburgh","Cafes","5.0"],
["Chill Artisan Ice Cream","Medina","Desserts","5.0"],
["Arctic Avenue","North Versailles","Desserts","5.0"],
["Potts Chocolate","Charlotte","Chocolatiers&Shops","5.0"],
["Lulu's Sugar Shoppe","Phoenix","Desserts","5.0"],
["Perspolis Hookah Lounge","Pittsburgh","EthnicFood","5.0"],
["Convivial Confections","Parma","Bakeries","5.0"],
["Nothing Bundt Cakes","Strongsville","Cupcakes","5.0"],
["Matt's Sub Shack and Pizza","Russellton","Burgers","5.0"],
["Wedding Cakes by Rosie","Champaign","Bakeries","5.0"],
["Wilde Grainz","Calgary","Bakeries","5.0"],
["The Chocolate Lab","Calgary","Chocolatiers&Shops","5.0"],
["CocoVaa Chocolatier","Madison","CandyStores","5.0"],
["Les P'tits Enfants de Felice","MontrÃƒÂ©al","Cafes","5.0"],
["FAT & Chewsie","Las Vegas","Cupcakes","5.0"],
["Equal Exchange Espresso Bar","Cleveland","Cafes","5.0"],
["Marylebone Cafe + Creamery","Oakville","Cafes","5.0"],
["Comptoir De Bruxelles","Vaudreuil-Dorion","Desserts","5.0"],
["Coco Karamel","Calgary","Desserts","5.0"],
["The Secret Chocolatier","Charlotte","Desserts","5.0"],
["Nothing Bundt Cakes","Charlotte","Cupcakes","5.0"],
["Fusion Latino","MontrÃƒÂ©al","CocktailBars","5.0"],
["Grace's Pattie World","Etobicoke","Bakeries","5.0"],
["Mr. Puffs","MontrÃƒÂ©al","Cafes","5.0"],
["Laura's Burgers and More","Avondale","Desserts","5.0"],
["JT's Bakery and Cafe","Pittsburgh","Cafes","5.0"],
["La Croissanterie Linda","MontrÃƒÂ©al","Bakeries","5.0"],
["Sugarfina - Fashion Show","Las Vegas","CandyStores","5.0"],
["Coffee Bean Cafe & Bakery","Cleveland","Bakeries","5.0"],
["Owens Landing","Calgary","CocktailBars","5.0"],
["Adesso Cafe","Sewickley","Cafes","5.0"],
["Nothing Bundt Cakes","Tega Cay","Cupcakes","5.0"],
["Heavenly Espresso","Pittsburgh","Cafes","5.0"],
["A Ward's Cheesecakes","Carnegie","Desserts","5.0"],
["Baristello","MontrÃƒÂ©al","Cafes","5.0"],
["El Ranchito Mexican Bakery","Avondale","Bakeries","5.0"],
["Cowtastic Frozen Yogurt","Bethel Park","Desserts","5.0"],
["The Local Donut","Scottsdale","Bagels","5.0"],
["Aracelli Zea Cake Studio","Las Vegas","Desserts","5.0"],
["Great Scott's Bakery & Coffee","Brunswick","Cupcakes","5.0"],
["Morning Owl Coffee House","Munroe Falls","Cafes","5.0"],
["Oven Fresh Challah","Phoenix","Bakeries","5.0"],
["L'Italien Cafe Bistro","Laval","Cafes","5.0"],
["The Muffin Girl","Mesa","Desserts","5.0"],
["Bailey's Cafe","Toronto","Cafes","5.0"],
["Hostess Bakery Outlet","Phoenix","Bakeries","5.0"],
["Golden Gecko Coffee","Toronto","Cafes","5.0"],
["Rosedale's Finest","Toronto","Desserts","5.0"],
["Bimbo Bakeries","Tempe","Bagels","5.0"],
["Kind Bean","Chandler","Desserts","5.0"],
["Stuttering King Bakery","Scottsdale","Cupcakes","5.0"],
["Cigarbox","Las Vegas","Beer","5.0"],
["Cluck 'N Cup","Charlotte","Desserts","5.0"],
["Bagel Brigade","York","Bagels","5.0"],
["Hamburger City","Las Vegas","Burgers","5.0"],
["Avoca Chocaltier","Toronto","Chocolatiers&Shops","5.0"],
["Top Tier Cakes","Westlake","Cupcakes","5.0"],
["Rococoa","Toronto","Desserts","5.0"],
["Heavenly Bites","Tempe","Bakeries","5.0"],
["Venezia Bakery - Wholesaler","Tempe","Bakeries","5.0"],
["Miss Manitts","Beaconsfield","Cafes","5.0"],
["Yummyholic","Pittsburgh","Cupcakes","5.0"],
["Cobs Bread","Toronto","Bakeries","5.0"],



    ]
  });

  // Configure a chart.
  var network = dex.charts.d3plus.RingNetwork({
      'parent': '#D3Plus_RingNetwork',
      'type': 'rings',
      'edges': {'arrows': true},
      'csv': csv
    }
  ).render();

</script>

{% endblock %}