{% extends 'base.html' %}

{% block title %}
{% if user.is_authenticated %}
  <h3>Relicemos el procesamiento Online de las Películas Recomendadas  para tí <strong> {{ user.username }} </strong> también puedes Seleccionar un usuario y ver las Nuevas recomendaciones ONLINE generadas para el, lo mejor del entretenimiento lo encuentras aqui!!</h3>
  <h4> Esta es nuestra NUEVA lista de Películas recomendadas para tí <strong> {{ user.username }} </strong> la cual pudimos extraer gracias a tus ÚLTIMAS opiniones previas  </h4>
  <h3> Recomendación ONLINE </h3>

 {% else %}
    <h2> Películas Recomendadas para nuestros usuarios </h2>
    <h4> Recomendación ONLINE </h4>
{% endif %}

{% endblock %}

{% block content %}
<form action="" method="get">
  <select name="user_id" onchange="this.form.submit();">
    <option selected="selected" disabled>Select a user</option>
    {% for user in users %}
    <option value={{user.ID_User}}>{{user.ID_User}}</option>
    {% endfor %}
  </select>
</form>


<table class="table table-bordered">
<thead>
  <tr>
    <td>Usuario</td>
    <td>Nombre Películas </td>
    <td>Categorías</td>
  </tr>

</thead>

<tbody>
  {% if Recomendations %}
  {% for  Recomendation in  Recomendations %}
   <tr>
    <td>{{  Recomendation.ID_User}}</td>
    <td>{{  Recomendation.name_Restaurant}}</td>
    <td>{{  Recomendation.City }}</td>
    </tr>
  {% endfor %}
  {% else %}
  <h1> Es un usuario Nuevo No hay registros Actualmente </h1>
  {% endif%}



</tbody>
</table>

<br>

<table class="table table-bordered">
<thead>
  <tr>
    <td>Usuario: {{current.userId }}</td>
    <td>Pelicula: {{current.movieId}} </td>
    <td>Rating: {{current.rating}} </td>
    <td>Hora: {{current.timestamp}} </td>
    <td>Fecha: {{current.date}} </td>
  </tr>

</thead>
<!-- <tbody>

  <tr>
    <td>Usuario: {{current.userId }}</td>
  </tr>
  <tr>
    <td>Pelicula: {{current.movieId}}</td>
  </tr>
  <tr>
    <td>Rating: {{current.rating}}</td>
  </tr>
  <tr>
    <td>Hora: {{current.timestamp}}</td>
  </tr>
  <tr>
    <td>Fecha: {{current.date}}</td>
  </tr>

</tbody> -->
</table>

<br>

<table class="table table-bordered">
<thead>
  <tr>
    <td>Titulo</td>
    <td>Genero </td>
  </tr>

</thead>

<tbody>
  {% if online %}
  {% for  row in  online %}
   <tr>
    <td>{{  row.title }}</td>
    <td>{{  row.genres }}</td>
    </tr>
  {% endfor %}
  {% else %}
  <h1> Este usuario no tiene recomendaciones online </h1>
  {% endif%}



</tbody>
</table>



{% endblock %}